body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to left, gray, white);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: flex;
}

.box {
  width: 10px;
  height: 10px;
  margin: 0.3px;
  background-color: rgba(0, 0, 0, 0.1);
}
